@media screen and (min-width:1200px) {
    .checkout-steps-item .status:before {
        width: 181px
    }
}

@media(max-width:680px) {
    .cart-table th,
    .cart-table td {
        text-align: left
    }
}

@media(max-width:764px) {
    .product-detail-section .product-information .shopping-cart-buttons a.shoping {
        width: 100%
    }
    .zoomContainer {
        display: none
    }
    .product-detail-section .product-information .shopping-cart-buttons a.shoping {
        font-size: 12px
    }
    ul.line-menu li {
        clear: both;
        margin-left: 45px
    }
    ul.line-menu li a {
        width: 50%;
        float: left;
        border: 0;
        margin-bottom: 15px
    }
    p.su {
        padding-left: 30px;
        clear: both;
        margin-left: 30px;
        padding-left: 0;
        margin-bottom: 30px
    }
    .xs-top20 {
        margin-left: -15px;
    }
    .title-copyright{
        margin-top: 20px!important;
    }
	.agent-welcome h3 .actions a span{
		display:none;
	}
}

@media(max-width:991px) {
    .icon-sobslider img {
        margin-top: -20px
    }
    p.comprar {
        display: none
    }
    .icon-sobslider img {
        float: none;
        margin: 0 auto;
        display: table;
        margin-bottom: 20px
    }
    .border-right {
        border: 0
    }
    a {
        text-decoration: none !important
    }
    .carousel-indicators-new {
        bottom: 0 !important
    }
    .bg-transparent-slider {
        margin-top: 0
    }
    li.li-responsive {
        margin-left: 0 !important
    }
    p.sb {
        clear: both;
        text-align: left
    }
    .btn-prehome {
        margin-bottom: 15px;
        margin-top: 20px
    }
    ul.submenu-prehome {
        padding-top: 0 !important
    }
    .div-submenu label {
        clear: both
    }
    .div-submenu label {
        float: left
    }
    .input-litle {
        width: 100% !important
    }
    ul.submenu-prehome {
        position: relative;
        margin-right: 40px
    }
    img.sombra-sobslider {
        display: none
    }
    img.voltar-prehome {
        margin-left: 0
    }
    img.avancar-prehome {
        margin-right: 0 !important
    }
    .height-full {
        margin-top: 0
    }
    .logo-prehome {
        max-width: inherit
    }
    .logo-prehome img {
        margin: 0 auto;
        display: table
    }
    .bg-logos {
        background-image: none
    }
    .copyright-box-prehome {
        float: right
    }
    ul.line-menu {
        padding-bottom: 20px
    }
    .middle-footer-prehome p {
        width: 100%;
        margin-bottom: 15px
    }
    .mg {
        width: 100%
    }
    img.center {
        margin-bottom: 20px
    }
    .logos p {
        text-align: center;
        margin-bottom: 40px
    }
    .xd {
        overflow: hidden
    }
    #header-new {
        max-height: inherit
    }
    .border-news {
        border: 1px solid #b6b6b6;
        height: 100%
    }
    img.img-news {
        margin-top: 0
    }
    img.binden {
        padding-left: 0
    }
    img.sb-scm {
        display: none
    }
    .full-footer {
        max-height: initial;
        padding-bottom: 20px;
        padding-top: 0
    }
    img.curva-sup {
        display: none
    }
    img.curva-inf {
        display: none
    }
    .middle-footer {
        margin-top: 0;
        position: relative
    }
    br.responsive {
        display: block !important;
        clear: both
    }
    img.separador {
        display: none
    }
    p.title-box {
        margin-top: 20px
    }
    .box-socialmedia {
        margin-top: 40px
    }
    .copyright-box p {
        margin-top: 20px
    }
	.agent-welcome .col-md-3 span{
		margin-top: 10px;
		text-align: right;
	}
	    body.shopping-store{
        padding-top: 81px;
    }
    #header .header-bg {
        padding: 2px 0;
		border-bottom: 2px solid #eee;
    }
    #header.header-top-fixed {
        position: absolute
    }
    #header.header-top-fixed .dis-n {
        display: block
    }
    #header .header-main-fixed {
        height: 150px;
        box-shadow: none
    }
    #header .header-main-fixed .header-main-block1 {
        background-color: rgba(14, 14, 14, .5)
    }
    #header .navbar-toggle {
        display: block
    }
    #header .header-bg-fixed {
        height: 150px
    }
    #header #container-fixed {
        margin: 5px 0
    }
    #header .header-main .navbar-nav {
        width: 100%;
        margin: 0;
    }
    #header .header-main .navbar-nav>li {
        width: 100%
    }
    #header .header-main .navbar-collapse {
        z-index: 999;
        position: relative;
        background-color: #fff;
    }
    #header .header-main .navbar-collapse li.open-quote-menu {
        border-top: 6px solid #eee;
    }
    #header .header-main .navbar-collapse li.open-quote-menu a {
		color: #282d3b;
    }
    #header .header-main .navbar-collapse li.open-quote-menu a:hover {
		color: #fff;
    }
	.navbar-main .nav>li>div>a {
		color: #282D3B;
		padding: 1.25rem;
		font-weight: 600;
	}
	.navbar-main .nav>li>div>a:hover {
		color: #ee2d43;
	}
	.navbar-main .nav>.open>div {
		background-color: #eee;
	}
	.navbar-main .nav>.open>div>a:hover {
		color: #fff;
	}
    #header .header-main .navbar-collapse h4 {
        color: #282D3B;
    }
    #header .header-main .navbar-collapse .dropdown-menu a {
        color: #282D3B;
		line-height: 25px;
		font-weight: 500;
    }
    #header .header-main .navbar-collapse .dropdown-menu a.sub-1 {
        color: #282D3B;
		line-height: 25px;
		font-weight: 600!important;
    }
    #header .header-main .navbar-collapse .dropdown-menu a.sub-2 {
        padding-left: 10px;
    }
    #header .header-main .navbar-collapse .dropdown-menu a:hover {
        color: #EE3D43;
    }
    #header .navbar-nav .open .dropdown-menu>li>a {
        height: 40px;
        line-height: 30px
    }
    #header .navbar-main .dropdown-submenu>.dropdown-menu {
        position: relative;
        left: 0;
        padding-left: 30px
    }
    #header .navbar-main {
        border-top: 0
    }
    #header .collapse:not(.in) {
        display: none !important
    }
    .navbar-main .nav>li>a{
        margin: 10px 0;
        background: #ee2d43;
        color: #fff;
        padding: 10px;
    }
    .home-category .home-category-block .home-category-title {
        position: relative;
        margin-top: 30px
    }
    .payment-service h3 {
        text-align: center
    }
    .payment-service p {
        text-align: center
    }
    body.shopping-store{
        padding-top: 81px;
    }
    .main-category-block .main-category-list .with-dropdown .dropdown-menu {
        position: relative;
        left: -1px;
        width: 100%
    }
    .block-chess-banners .block-chess .chess-caption-right {
        padding: 30px
    }
    .block-chess-banners .block-chess .chess-caption-left {
        padding: 30px
    }
    .checkout-steps-item .status:before {
        width: 97px
    }
    #header .header-main .navbar-collapse ul:last-child li:last-child {
        border-bottom: 0
    }
    .sidebar-menu {
        display: none;
        position: absolute;
        background: #fff;
        z-index: 99999;
        width: 85%;
        max-width: 640px;
        top: 0;
        padding: 15px
    }
    .filter-menu-modal-close {
        display: none;
        background-color: transparent;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 100), rgba(255, 255, 255, 100) 85%, rgba(0, 0, 0, .2) 85%, rgba(0, 0, 0, 0.1));
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 999;
        top: 0;
        left: 0
    }
    .search-box {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        box-shadow: 0 0 10px #666;
        padding: 5px 10px;
        z-index: 9999;
        display: none;
		background: #fff;
    }
    .search-modal-background {
        display: none;
        background-color: #000;
        opacity: .5;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 999;
        top: 0;
        left: 0
    }
    .filter-menu-modal-close {
        display: none;
        background-color: transparent;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 100), rgba(255, 255, 255, 100) 85%, rgba(0, 0, 0, .2) 85%, rgba(0, 0, 0, 0.1));
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 999;
        top: 0;
        left: 0
    }
	.welcome .col-md-2{
		width: 100%;
		text-align: left;
		font-size: 12px;
		text-transform: uppercase;
	}
	.order-details .order-detail .order-detail-info{
		margin-bottom: 20px;
	}
	.order-details .order-detail{
		margin-bottom: -10px;
	}
	.yamm .yamm-content .yamm-subcategory{
		border-bottom: none;
	}
	.yamm ul li .open{
		color: #fff!important;
	}
	.middle-banner img{
		width: 100%
	}
	.navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    }

    .cart-list-item h3 {
        margin: 0;
    }

    .cart-list-item .cart-item {
        flex-wrap: wrap;
        margin: 15px 0px;
        padding: 0;
        height: 155px;
    }

    .cart-list-item .card_product {
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .cart-list-item .cart-item>div {
        padding: 0;
    }

    .cart-list-item .card_product .card_product_name {
        display: flex;
        align-items: center;
    }

    span.cart-product-ref {
        font-weight: 400;
        font-size: 11px;
    }

    .cart-list-item .card_product_quantity {
        display: flex;
        align-items: center;
    }
    .cart-list-item .card_product_quantity button {
        height: 43px;
    }
    .cart-list-item .card_product_quantity input {
        height: 43px;
        margin: 0;
        font-size: 18px;
    }
    .cart-list-item .card_product_total {
        font-size: 18px;
        margin: 0;
    }
    .shopping-cart-controls {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .shopping-cart-controls .cart-control-block{
        width: 100%;
    }
    .cart-control-go-checkout {
        flex-wrap: wrap;
        justify-content: center;
    }
    .cart-control-go-checkout .block-order-total ul.payment-resume>li>span.label {
        width: 40%;
    }
    .cart-control-go-checkout .block-order-total ul.payment-resume>li>span.value {
        width: 60%;
    }
    .cart-control-go-checkout .keep-buying {
        margin: -50px 0 20px;
        border: none;
        font-size: 16px;
    }
    .shopping-cart-controls .cart-control-block .input-group .input-title {
        width: 100%;
        text-align: right;
    }
    .shopping-cart-controls .cart-control-block .input-group {
        flex-wrap: wrap;
    }
    .cart-cupom-block {
        margin-bottom: 15px;
    }
    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .nav-pills > li > a:hover, .payment-box > .nav-tabs li.active a, .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .nav-pills > li > a:hover {
        width: 130px;
    }
    .nav-pills > li > a {
        width: 130px;
    }
    .customer-data a {
        font-size: 15px;
    }
}

@media(min-width:768px) {
    .new-menu-footer .navbar-nav>li {
        display: inline-block;
        float: none
    }
    .product-image, .product-video {
        margin-bottom: 30px
    }
}

@media(max-width:768px) {
    #header .navbar-main {
        border-top: 0
    }
    #header .header-bg-fixed {
        height: 0
    }
	.bottom-footer .payment-info .payment-flags{
		width: 10%;
	}
	.newsletter-box button{
		top: 9px;
	}
	    .nav-justified>li>a {
        margin-bottom: 0
    }
    .product-image {
        margin-bottom: 30px
    }
    .header-for-light h1 {
        font-size: 32px;
        line-height: 42px
    }
    .header-for-dark h1 {
        font-size: 32px;
        line-height: 42px
    }
    .product.list .figure-hover-overlay img {
        width: 100%;
        max-width: none
    }
	.table-responsive {
		border: none;
	}
	.product.light {
		width: 300px;
	}
	.shopping-cart-controls ul.payment-resume>li>span.label {
    width: 50%;
	}
	.shopping-cart-controls ul.payment-resume>li>span.value {
		width: 50%;
	}
	.order-details .order-title h3 p {
		position: relative;
		top: 8px;
	}
	.agent-sales-pane .datetime-picker-btn{
		text-align: center;
	}
	.agent-sales-pane .datetime-picker-btn span.input-group-btn button.btn-primary{
		width: 100%;
		margin: 0;
	}
	.owl-prev {
		right: 0;
	}
	.owl-next {
		left: 0;
	}
}

@media(min-width:992px) {
    #header .header-main-fixed .navbar-main {
        display: none
    }
	#header #container-fixed .top-icons{
		margin-top: 5px;
	}
	    .cart-table td:before {
        display: none
    }
	#header .header-bg .header-main nav.navbar ul.nav li.yamm-fw{
		min-width: 10%;
	}
    .cart-table th,
    .cart-table td {
        display: table-cell;
        padding: .25em .5em
    }
    .cart-table th:first-child,
    .cart-table td:first-child {
        padding-left: 0
    }
    .cart-table th:last-child,
    .cart-table td:last-child {
        padding-right: 0
    }
    .cart-table th,
    .cart-table td {
        padding: 1em !important
    }
}

@media(max-width:992px) {
    body {
        padding-top: 76px;
    }
	.customer-data i.person {
		font-size: 15px;
		vertical-align: middle;
		margin-left: -3px;
	}
	.pagination-resume, .pagination-pages {
		border-top: none;
		text-align: center;
		border-bottom: 1px solid #eee;
	}
	.nav:not(.line-menu-new)>li>a:hover, .nav:not(.line-menu-new) .open>a:hover, .nav:not(.line-menu-new) .open>a:focus, .nav:not(.line-menu-new)>li>a:focus, .nav:not(.line-menu-new) .open>a, .navbar-main .nav:not(.line-menu-new)>li.open>a {
		background-color: #d05654;
	}
	.cart-table td {
		text-align: right !important;
	}
    .welcome .header-profile button.account-toggle{
        display: block;
    }
    .welcome .customer-data{
        display: none;
    }
}

@media(max-width:480px) {
    #header .header-main .top-search-form {
        width: 100%;
        text-align: right
    }
    .header-for-light h1 {
        font-size: 26px;
        line-height: 42px
    }
    .header-for-dark h1 {
        font-size: 26px;
        line-height: 42px
    }
	.icon-hide{
		display:none;
	}
}

@media(max-width:380px) {
    #header .top-icons .top-icon {
        width: 37px
    }
}