{% extends "FlexyFtwoStoreBundle:Layout:base.html.twig" %}

{% set images_top = flexy_ftwo_banner_image_list('home-banner').images %}
{% set images_top_mobile = flexy_ftwo_banner_image_list('home-banner-mobile').images %}
{% set images_middle_1 = flexy_ftwo_banner_image_list('home-middle-banner-1').images %}
{% set images_middle_2 = flexy_ftwo_banner_image_list('home-middle-banner-2').images %}
{% set images_bottom = flexy_ftwo_banner_image_list('home-banner').images %}

{% block content %}
    {% include 'FlexyFtwoStoreBundle:Include/Common:main-banner.html.twig' with {images : images_top} %}  
    {% include 'FlexyFtwoStoreBundle:Include/Common:main-banner-mobile.html.twig' with {images : images_top_mobile} %}   
    <section class="{{ images|length == 0 ? "first-page-container" : "" }}">
        <div class="container">
            <div class="row">
            
                {% set variantsCategory = f2_store_variant_list('destaques').variants %}
                {% if variantsCategory|length > 0 %}           
                <div class="col-md-12 layout-1">
                    {% include 'FlexyFtwoStoreBundle:Include:variant-list-block.html.twig' with {
                        title : 'Destaques',
                        variants: variantsCategory,
                        referal: 'Home'
                    } %}
                </div>
                {% endif %}

                {% set variantsCategory = f2_store_variant_list('fixo-carrossel-1').variants %}
                {% if variantsCategory|length > 0 %}
                <div class="col-md-12 layout-1">
                    {% include 'FlexyFtwoStoreBundle:Include:variant-list-block.html.twig' with {
                        title : 'Mais Vendidos',
                        variants: variantsCategory,
                        referal: 'Home'
                    } %}
                </div>
                {% endif %}
                
				{% include 'FlexyFtwoStoreBundle:Include/Common:middle-banner.html.twig' with {images : images_middle_1} %}
                
                {% set variantsCategory = f2_store_variant_list('fixo-carrossel-2').variants %}
                {% if variantsCategory|length > 0 %}
                <div class="col-md-12">
                    {% include 'FlexyFtwoStoreBundle:Include:variant-list-block.html.twig' with {
                        title : 'Baixou de Preço',
                        variants: variantsCategory,
                        referal: 'Home'
                    } %}
                </div>
                {% endif %}
                
                {% set variantsCategory = f2_store_variant_list('fixo-carrossel-3').variants %}
                {% if variantsCategory|length > 0 %}
                <div class="col-md-12">
                    {% include 'FlexyFtwoStoreBundle:Include:variant-list-block.html.twig' with {
                        title : 'Novidades',
                        variants: variantsCategory,
                        referal: 'Home'
                    } %}
                </div>
                {% endif %}
                
            </div>
        </div>
    </section>
{% endblock %}