{% set img_sufix = null %}
<nav class="navbar yamm  navbar-main" role="navigation">
    <div class="container">
        <div id="navbar-collapse-1" class="navbar-collapse collapse ">
            {#{% include 'FlexyFtwoStoreBundle:Include/Agent:share-link.html.twig' %}#}
            <!-- navbar menu mobile com controle da conta -->
            <ul class="nav navbar-nav">
                {% if flexy_ftwo_current_user_exists() %}
                    {% if app.user.agent %}
                        <li class="hidden-md hidden-lg"><a href="{{ path("flexy_ftwo_store_dashboard_agent_commission_dashboard") }}">Painel de Vendas</a></li>
                        <li class="hidden-md hidden-lg"><a href="{{ path("flexy_ftwo_store_agent_profile") }}">Pedidos</a></li>
                        <li class="hidden-md hidden-lg"><a href="{{ path("flexy_ftwo_store_user_remember_password_reset") }}">Alterar Senha</a></li>
                        <li class="hidden-md hidden-lg f2-agent-promotional-link-click-responsive"><a  href="javascript:void(0)" id="" class=""><i class="fa fa-link"></i>Link Promocional</a></li>
                    {% else %}
                        <li class="hidden-md hidden-lg"><a href="{{ path("flexy_ftwo_store_customer_profile") }}">Minha conta</a></li>
                        <li class="hidden-md hidden-lg"><a href="{{ path("flexy_ftwo_store_customer_profile") }}">Meus pedidos</a></li>
                        <li class="hidden-md hidden-lg"><a href="{{ path("flexy_ftwo_store_wishlist_my") }}">Meus desejos</a></li>
                    {% endif %}

                    <li class="hidden-md hidden-lg"><a href="{{ path("flexy_ftwo_store_customer_logout") }}">Sair</a></li>
                {% else %}
                    <li class="hidden-md hidden-lg"><a href="{{ path("flexy_ftwo_store_customer_login") }}">Acesse sua conta ou Cadastre-se</a></li>
                {% endif %}
                <!-- insere menu de orcamento no dropdown do mobile -->
                {% if flexy_ftwo_current_quote_totals().countTotalItems > 0 %}
                	<li class="hidden-md hidden-lg open-quote-menu"><a href="{{ path('flexy_ftwo_store_quote_list') }}">ORÇAMENTO ABERTO</a></li>
                {% endif %}
            </ul>
			            
            <!-- inicio do menu do header -->
            <ul class="nav navbar-nav navbar-scroll-top" id="top-auto-scroll">
            	<!-- se for lojista coloca um menu padrao, tiramos com o false -->
                
                	<!-- se for shopping, cria o menu de categorias -->
                    
                    <!-- seta o header do shopping com o menu abaixo de 'departamentos' por padrao no site -->
                    {% set headerCategories = flexy_ftwo_category_list(flexy_ftwo_category_list_by_parent_reference_code('departamentos'), 'sortOrder-desc').categories|slice(0,6) %}
                    
                    <!-- se for lojista buscamos o menu cadastrado pelo loista (remove o primeiro item que sempre sera o destaques) -->
                    {# {% if shoppingStore %}
                    	{% set headerCategories = flexy_ftwo_shopping_store_category_list(shoppingStore.referenceCode, null, 'sortOrder-desc').categories|slice(1)|slice(0,6) %}
                    {% endif %} #}

                    <!-- cria a primeira categoria cadastrada, ignorando as demais -->
                    {% for category in headerCategories[:1] %}
                    	<!-- seta as subcategorias abaixo da categoria principal -->
                        {% set subCategories = flexy_ftwo_category_list(category, 'sortOrder-desc', null).categories %}
                        
                        <li class="dropdown yamm-fw menu-all-categories" onmouseover="white_img()" onmouseout="red_img()">
                            <div>
                                {% set urlCategory = path("flexy_ftwo_store_product_list", {categoryReferenceCode : category.referenceCode}) %}

                                <img src="https://d8vlg9z1oftyc.cloudfront.net/editorawp/editorawp-file-manager/assets/imagens/all-categories-icon.png" alt="Todas as categorias" id="all-ctg-img" class="categorie-img">
                                <a class="p-2" href="{{ urlCategory }}" {% if false and subCategories|length > 0 %}data-toggle="dropdown" class="dropdown-toggle"{% endif %}>
                                    {{ category.name }}
                                </a>
                                
                                <!-- sufixo da categoria para abrir imagem no menu-->
                                {% if category.referenceCode|split('--')|last != category.referenceCode %}
                                	{% set img_sufix = category.referenceCode|split('--')|last %}
                                {% else %} {% set img_sufix = null %}
                                {% endif %}
                                
                            </div>
                            
                            <!-- se existem subcategorias -->
                            {% if subCategories|length > 0 %}
                            
                            	<!-- cria o dropdown -->
                                <ul class="dropdown-menu list-unstyled fadeInUp animated">
                                	<!-- cria uma linha no dropdown -->
                                    <li>
                                        <div class="yamm-content">
                                            <div class="row">
                                                {% set count = 0 %}
                                                
                                                <ul class="list-unstyled all-categories-block">
                                                    {% for subCategory in subCategories %}
                                                        {% if count == 0 %}
                                                            <div class="col-md-3 category-block">
                                                        {% endif %}
                                                        {% set subSubCategories = flexy_ftwo_category_list(subCategory, 'sortOrder-desc', null).categories %}
                                                        {% set urlSubCategory = path("flexy_ftwo_store_product_list", {categoryReferenceCode : subCategory.referenceCode}) %}
                                                        
                                                        <li class="category-li">
                                                            <a href="{{ urlSubCategory }}">
                                                                <b>{{ subCategory.name }}</b>
                                                            </a>
                                                        </li>

                                                        {% set count = count + 1 %}

                                                        {% if subSubCategories|length > 0 %}
                                                            {% for subSubCategory in subSubCategories %}
                                                                {% if count == 0 %}
                                                                    <div class="col-md-3 category-block">
                                                                {% endif %}
                                                                {% set urlSubSubCategory = path("flexy_ftwo_store_product_list", {categoryReferenceCode : subSubCategory.referenceCode}) %}

                                                                <li>
                                                                    <a href="{{ urlSubSubCategory }}">
                                                                        {{ subSubCategory.name }}
                                                                    </a>
                                                                </li>

                                                                {% set count = count + 1 %}
                                                                {% if count == 25 %}
                                                                    </div>
                                                                    {% set count = 0 %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}

                                                        {% if count == 25 %}
                                                            </div>
                                                            {% set count = 0 %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                    
                    <!-- inicia a iteracao de categorias a partir da segunda, ignorando a primeira -->
                    {% for category in headerCategories[1:] %}
                    	<!-- seta as subcategorias abaixo da categoria principal -->
                        {% set subCategories = flexy_ftwo_category_list(category, 'sortOrder-desc', null).categories %}
                        
                        <!-- se for lojista seta pelo id do lojista -->
                        {#{% if shoppingStore %}
                            {% set subCategories = flexy_ftwo_shopping_store_category_list(shoppingStore.referenceCode, category, 'sortOrder-desc').categories %}
                        {% endif %}#}
                        
                        <li class="dropdown yamm-fw">
                            <div>
                                {% set urlCategory = path("flexy_ftwo_store_product_list", {categoryReferenceCode : category.referenceCode}) %}
                                {#{% if shoppingStore %}
                                	{% set urlCategory = f2_store_shoppingStore_url('productList', {shoppingStoreReferenceCode: shoppingStore.referenceCode, categoryReferenceCode: category.referenceCode}) %}
                                {% endif %}#}
                                
                                <a class="p-2" href="{{ urlCategory }}" {% if false and subCategories|length > 0 %}data-toggle="dropdown" class="dropdown-toggle"{% endif %}>
                                    {{ category.name }}
                                </a>
                                
                                <!-- sufixo da categoria para abrir imagem no menu-->
                                {% if category.referenceCode|split('--')|last != category.referenceCode %}
                                	{% set img_sufix = category.referenceCode|split('--')|last %}
                                {% else %} {% set img_sufix = null %}
                                {% endif %}
                                
                                <!-- insere o icone para mostrar mais categorias no dropdown - decorativo -->
                                {% if subCategories|length > 0 %}
                                	<i class="fa fa-caret-right fa-rotate-90" class="dropdown-toggle"></i>
                                {% endif %}
                                
                            </div>
                            
                            <!-- se existem subcategorias -->
                            {% if subCategories|length > 0 %}
                            
                            	<!-- cria o dropdown -->
                                <ul class="dropdown-menu list-unstyled fadeInUp animated">
                                	<!-- cria uma linha no dropdown -->
                                    <li>
                                        <div class="yamm-content">
                                            <div class="row">
                                            
                                            	<!-- engine para as imagens no menu dropdown -->
                                            	{% set class_row_subcategories = "" %}
                                            	{% set class_row_image = "hidden-md hidden-lg hidden-xl" %}
                                            	{% set class_column_categorie = "col-md-3" %}
                                                {% set subcategory_columns = 4 %}
                                            	{% if img_sufix != null %}
                                                	{% set class_row_subcategories = "col-md-7" %}
                                            		{% set class_row_image = "col-md-5" %}
                                                    {% set subcategory_columns = 2 %}
                                            	{% set class_column_categorie = "col-md-4" %}
                                                {% endif %}
                                                <!-- fim da engine -->
                                                
                                                <!-- cria as colunas ma li -->
                                            	<div class="{{class_row_subcategories}} col-sm-12">
                                                		{% set count = 0 %}
                                                        <div class="row yamm-subcategory">
                                                            {% for subCategory in subCategories %}
                                                                {% set subSubCategories = flexy_ftwo_category_list(subCategory, 'sortOrder-desc', null).categories  %}
                                                                
                                                                <!-- se for lojista seta pelo id do lojista -->
                                                                {#{% if shoppingStore %}
                                                                    {% set subSubCategories = flexy_ftwo_shopping_store_category_list(shoppingStore.referenceCode, subCategory, 'sortOrder-desc').categories %}
                                                                {% endif %}#}
                                                                
                                                                
                                                                {% if count == 0 or count == 22 %}<div class="{{class_column_categorie}} col-sm-12">{% endif %}
                                                                    
                                                                    {% if subSubCategories|length > 0 %}
                                                                        <ul class="list-unstyled">
                                                                            {% for subSubCategory in subSubCategories %}
                                                                                <li>

                                                                                    {% set urlSubSubCategory = path("flexy_ftwo_store_product_list", {categoryReferenceCode : subSubCategory.referenceCode}) %}
                                                                                    {#{% if shoppingStore %}
                                                                                        {% set urlSubSubCategory = f2_store_shoppingStore_url('productList', {shoppingStoreReferenceCode: shoppingStore.referenceCode, categoryReferenceCode: subSubCategory.referenceCode}) %}
                                                                                    {% endif %}#}

                                                                                    <a class="sub-2" href="{{ urlSubSubCategory }}">
                                                                                        {{ subSubCategory.name }}
                                                                                    </a>
                                                                                </li>
                                                                                {% set count = count + 1 %}
                                                                            {% endfor %}
                                                                        </ul>
                                                                    {% endif %}
                                                                {% if count == 22 %}
                                                                </div>
                                                                {% set count = 0 %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                </div>
                                                <div class="{{class_row_image}} hidden-sm hidden-xs">
                                                    <img src="https://d8vlg9z1oftyc.cloudfront.net/prumodigital/prumodigital-file-manager/categorias/store-category-image-{{img_sufix}}.png"/>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
            </ul>
        </div>
    </div>
</nav>