{% block css %}
	<link rel="stylesheet" href="https://d8vlg9z1oftyc.cloudfront.net/shoppeplace/shoppeplace-file-manager/css/menu.css">
{% endblock %}

<nav class="navbar yamm  navbar-main" role="navigation">
    <div class="container">
        <div class="navbar-header hidden-xs hidden-sm">
        	<!-- se for lojista exibe o icone da loja no menu superior -->
            {% if shoppingStore %}
                <a href="{{ path("flexy_ftwo_store_shoppingStore_index", {shoppingStoreReferenceCode: shoppingStore.referenceCode}) }}" class="navbar-brand">
                	{% if shoppingStore.logoUrl %}<img src="{{ shoppingStore.logoUrl }}"/>{% endif %}
                </a>
            <!-- se for shopping, exibe 'home' -->
            {% else %}
                <a href="{{ path("flexy_ftwo_store_index") }}" class="navbar-brand">
                    Home
                </a>
            {% endif %}

            <div class="border"></div>
        </div>
        <div id="navbar-collapse-1" class="navbar-collapse collapse ">
            {#{% include 'FlexyFtwoStoreBundle:Include/Agent:share-link.html.twig' %}#}
            {# navbar menu mobile com controle da conta #}
            <ul class="nav navbar-nav">
                {% if flexy_ftwo_current_user_exists() %}
                    {% if app.user.agent %}
                        <li class="hidden-md hidden-lg"><a href="{{ path("flexy_ftwo_store_dashboard_agent_commission_dashboard") }}">Painel de Vendas</a></li>
                        <li class="hidden-md hidden-lg"><a href="{{ path("flexy_ftwo_store_agent_profile") }}">Pedidos</a></li>
                        <li class="hidden-md hidden-lg"><a href="{{ path("flexy_ftwo_store_user_remember_password_reset") }}">Alterar Senha</a></li>
                        <li class="hidden-md hidden-lg f2-agent-promotional-link-click-responsive"><a  href="javascript:void(0)" id="" class=""><i class="fa fa-link"></i>Link Promocional</a></li>
                    {% else %}
                        <li class="hidden-md hidden-lg"><a href="{{ path("flexy_ftwo_store_customer_profile") }}">Minha conta</a></li>
                        <li class="hidden-md hidden-lg"><a href="{{ path("flexy_ftwo_store_customer_profile") }}">Meus pedidos</a></li>
                        <li class="hidden-md hidden-lg"><a href="{{ path("flexy_ftwo_store_wishlist_my") }}">Meus desejos</a></li>
                    {% endif %}

                    <li class="hidden-md hidden-lg"><a href="{{ path("flexy_ftwo_store_customer_logout") }}">Sair</a></li>
                {% else %}
                    <li class="hidden-md hidden-lg"><a href="{{ path("flexy_ftwo_store_customer_login") }}">Acesse sua conta ou Cadastre-se</a></li>
                {% endif %}
                {# insere menu de orcamento no dropdown do mobile #}
                {% if flexy_ftwo_current_quote_totals().countTotalItems > 0 %}
                	<li class="hidden-md hidden-lg open-quote-menu"><a href="{{ path('flexy_ftwo_store_quote_list') }}">ORÇAMENTO ABERTO</a></li>
                {% endif %}
            </ul>
			            
            {# inicio do menu do header #}
            <ul class="nav navbar-nav navbar-scroll-top" id="top-auto-scroll">
            	{# se for lojista coloca um menu padrao, tiramos com o false #}
                {% if shoppingStore and false %}
                	<li class="dropdown  yamm-fw"><div><a href="{{ path("flexy_ftwo_store_shoppingStore_index", {shoppingStoreReferenceCode: shoppingStore.referenceCode}) }}">Home</a></div></li>
                    <li class="dropdown  yamm-fw"><div><a href="{{ f2_store_shoppingStore_url('productListAll', {shoppingStoreReferenceCode : shoppingStore.referenceCode}) }}">Produtos</a></div></li>
                    <li class="dropdown  yamm-fw"><div><a href="{{ f2_store_shoppingStore_url('institutional', {shoppingStoreReferenceCode : shoppingStore.referenceCode}) }}">Quem somos</a></div></li>
                    <li class="dropdown  yamm-fw"><div><a href="{{ f2_store_shoppingStore_url('contact', {shoppingStoreReferenceCode : shoppingStore.referenceCode}) }}">Contato</a></div></li>
                {% else %}
                	{# se for shopping, cria o menu de categorias #}
                    
                    {# seta o header do shopping com o menu abaixo de 'departamentos' por padrao no site #}
                    {% set headerCategories = flexy_ftwo_category_list(flexy_ftwo_category_list_by_parent_reference_code('departamentos'), 'sortOrder-desc').categories|slice(0,6) %}
                    
                    {# se for lojista buscamos o menu cadastrado pelo loista (remove o primeiro item que sempre sera o destaques) #}
                    {% if shoppingStore %}
                    	{% set headerCategories = flexy_ftwo_shopping_store_category_list(shoppingStore.referenceCode, null, 'sortOrder-desc').categories|slice(1)|slice(0,6) %}
                    {% endif %}
                    
                    {# inicia a iteracao de categorias #}
                    {% for category in headerCategories %}
                    	{# seta as subcategorias abaixo da categoria principal #}
                        {% set subCategories = flexy_ftwo_category_list(category, 'sortOrder-desc', null).categories %}
                        
                        {# se for lojista seta pelo id do lojista #}
                        {% if shoppingStore %}
                            {% set subCategories = flexy_ftwo_shopping_store_category_list(shoppingStore.referenceCode, category, 'sortOrder-desc').categories %}
                        {% endif %}
                        
                        <li class="dropdown yamm-fw">
                            <div>
                                {% set urlCategory = path("flexy_ftwo_store_product_list", {categoryReferenceCode : category.referenceCode}) %}
                                {% if shoppingStore %}
                                	{% set urlCategory = f2_store_shoppingStore_url('productList', {shoppingStoreReferenceCode: shoppingStore.referenceCode, categoryReferenceCode: category.referenceCode}) %}
                                {% endif %}
                                
                                <a class="p-2" href="{{ urlCategory }}" {% if false and subCategories|length > 0 %}data-toggle="dropdown" class="dropdown-toggle"{% endif %}>
                                    {{ category.name }}
                                </a>
                                
                                {# insere o icone para mostrar mais categorias no dropdown - decorativo #}
                                {% if subCategories|length > 0 %}
                                	<i class="fa fa-caret-right fa-rotate-90" class="dropdown-toggle"></i>
                                {% endif %}
                                
                            </div>
                            
                            {# se existem subcategorias #}
                            {% if subCategories|length > 0 %}
                            
                            	{# cria o dropdown #}
                                {% set bannerReferenceCode = category.referenceCode ~'-Menu' %}
                                {% set gallery = flexy_ftwo_banner_image_list(bannerReferenceCode).images %}
                                <ul class="dropdown-menu list-unstyled fadeInUp animated">
                                	{# cria uma linha no dropdown #}
                                    <li>
                                        <div class="yamm-content">
                                            <div class="row">
                                                {# cria as colunas ma li #}
                                            	<div class="col-md-8 col-sm-12">
                                                    {% set count = 0 %}
                                                
                                                    <ul class="list-unstyled all-categories-block">
                                                        {% for subCategory in subCategories[:42] %}
                                                            {% if count == 0 %}
                                                                <div class="col-sm-4 category-block">
                                                            {% endif %}
                                                            {% set subSubCategories = flexy_ftwo_category_list(subCategory, 'sortOrder-desc', null).categories %}
                                                            {% set urlSubCategory = path("flexy_ftwo_store_product_list", {categoryReferenceCode : subCategory.referenceCode}) %}
                                                            
                                                            <li class="category-li">
                                                                <a href="{{ urlSubCategory }}">
                                                                    <b>{{ subCategory.name }}</b>
                                                                </a>
                                                            </li>
    
                                                            {% set count = count + 1 %}
    
                                                            {% if subSubCategories|length > 0 %}
                                                                {% for subSubCategory in subSubCategories[:14] %}
                                                                    {% if count == 0 %}
                                                                        <div class="col-sm-4 category-block">
                                                                    {% endif %}
                                                                    {% set urlSubSubCategory = path("flexy_ftwo_store_product_list", {categoryReferenceCode : subSubCategory.referenceCode}) %}
    
                                                                    <li>
                                                                        <a href="{{ urlSubSubCategory }}">
                                                                            {{ subSubCategory.name }}
                                                                        </a>
                                                                    </li>
    
                                                                    {% set count = count + 1 %}
                                                                    {% if count == 17 %}
                                                                        </div>
                                                                        {% set count = 0 %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
    
                                                            {% if count == 17 %}
                                                                </div>
                                                                {% set count = 0 %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                {% if gallery|length > 0 %}
                                                <div class="col-md-4 hidden-sm hidden-xs image-category">
                                                    <a {{ (gallery[0].target ? 'href="' ~ gallery[1].target ~ '"' : '')|raw }}>
                                                        <img src="{{ gallery[0].path }}" class="img-responsive" alt="{{ gallery[0].alt }}" title="{{ gallery[0].title }}">
                                                    </a>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
            {# se nao for lojista insere o menu 'todos os produtos' #}
            {% if not shoppingStore %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden-sm hidden-xs"><a href="{{ path("flexy_ftwo_store_product_list_all") }}">Todos os produtos</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>